.Header {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(7, 33, 80, 0.93);
}

.Header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url('../../../assets/images/newspaper.jpg');
  background-position: -10% 75%;
  background-size: cover;
}

.H1 {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}
