.Header {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  background-color: rgba(7, 33, 80, 0.93);
}

.Header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url('../../../assets/images/newspaper.jpg');
  background-position: -10% 75%;
  background-size: cover;
}

.H1 {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.H1,
.P {
  color: #ffffff;
  text-align: center;
}

.P {
  font-family: 'Poppins', 'Raleway', 'Helvetica', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}
